* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #333;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.child {
  font-size: 2rem;
  font-weight: 700;
  flex-wrap: wrap;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 2rem;
  margin-top: 6rem;
  cursor: pointer;
  padding: 1.75rem 3.5rem;
}
.hidden {
  display: none;
}
h1 {
  font-size: 2.5rem;
  margin: 3rem 0;
}
p {
  font-size: 1.8rem;
}
.modal {
  background-color: white;
  margin: 10rem auto;
  border-radius: 1.5rem;
  padding: 6rem;
  margin-bottom: 0;
  position: relative;
  width: 50%;
}
.close-modal {
  font-size: 5rem;
  position: absolute;
  background: none;
  border: none;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
}
